//-
   Mixin for insertion of catalog item

   Created by nikolay on 27.10.2015.
//
mixin insert_catalog_item(mainFoto, modelName, simType, numOfSim,phoneColor,phoneOs,network3G,network4G,gprs,phonePrice)
   li.catalog_item.catalog_item--default-view
      .catalog_item_image
         img(src="/img/"+ mainFoto + ".png",alt="model01")
      ul.catalog_item_icons
         li.catalog_item_icons__preview
            img(src="/img/" + mainFoto + "-01.png", alt="01")
         li.catalog_item_icons__preview
            img(src="/img/" + mainFoto + "-02.png", alt="02")
         li.catalog_item_icons__preview
            img(src="/img/" + mainFoto + "-03.png", alt="03")
      ul.catalog_item_info
         li.catalog_item__model_name= modelName
         li.catalog_item__data_type Тип SIM-Карты
            .catalog_item__data_val= simType
         li.catalog_item__data_type Количество SIM-карт
            .catalog_item__data_val= numOfSim
         li.catalog_item__data_type Цвет
            .catalog_item__data_val= phoneColor
         li.catalog_item__data_type ОС
            .catalog_item__data_val= phoneOs
         li.catalog_item__data_type Связь
            .catalog_item__data_val= network3G
         li.catalog_item__data_type 4G(LTE)
            .catalog_item__data_val= network4G
         li.catalog_item__data_type GPS-модуль
            .catalog_item__data_val= gprs
      .catalog-rating
         //- TODO refactor for custom rating
         img(src="/img/star-red.png", alt="1star").catalog-rating__star
         img(src="/img/star-red.png", alt="1star").catalog-rating__star
         img(src="/img/star-red.png", alt="1star").catalog-rating__star
         img(src="/img/star-red.png", alt="1star").catalog-rating__star
         img(src="/img/star-white.png", alt="no star").catalog-rating__star
         span.catalog-num-rating 4
      .catalog-price= phonePrice + " ₽"
      .catalog-store__text
            img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image
            |В наличии
         button().add-to-basket В корзину